@media screen and (max-width: 767px) {
  .wrapper {
    width: 300px;
  }
  .left {
    width: 100px;
  }
  .right {
    width: 200px;
  }
  .right-upper {
    width: 125px;
  }
  .right-center {
    width: 125px;
  }
  .right-right {
    width: 75px;
  }
}
@media screen and (max-width: 479px) {
  .wrapper {
    width: 150px;
  }
  .left {
    width: 150px;
    float: none;
  }
  .right {
    width: 150px;
    float: none;
  }
  .right-left {
    float: none;
  }
  .right-upper {
    width: 150px;
  }
  .right-center {
    width: 150px;
  }
  .right-right {
    width: 150px;
    float: none;
  }
}