.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.wrapper {
  width: 400px;
  margin: auto;
}
.header {
  height: 100px;
  background-color: #141f40;
}

.left {
  height: 250px;
  width: 150px;
  background-color: #80bfa8;
  float: left;
}
.right {
  width: 250px;
  float: right;
}
.right-left {
  float: left;
}
.right-upper {
  height: 50px;
  width: 150px;
  background-color: #dbd400;
}
.right-center {
  height: 100px;
  width: 150px;
  background-color: #0093b7;
}
.right-right {
  height: 150px;
  width: 100px;
  background-color: #ff9e6b;
  float: left;
}
.right-footer {
  height: 100px;
  background-color: #8c2727;
}
.footer {
  height: 100px;
  background-color: #d98d30;
}